<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CollectMapper">
    <select id="selectByUidAndM3Id" parameterType="int" resultType="collect">
        select * from collect where uid=#{uid} and m3_id=#{id}
    </select>
    <insert id="add" parameterType="collect">
        insert into collect values (#{name},#{url},#{uid},#{m3_id},#{sid})
    </insert>
    <select id="findall" parameterType="int" resultType="collect">
        select * from collect where uid=#{uid} and sid=#{sid}
    </select>
    <delete id="del" parameterType="int">
        delete from collect where m3_id=#{id}
    </delete>
</mapper>