<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.MenuMapper">
    <resultMap id="m1" type="menu1">
        <id column="id" property="id"></id>
        <result column="name1" property="name"></result>
        <association property="t" javaType="theme">
            <result property="url1" column="url1"></result>
            <result property="url2" column="url2"></result>
            <result property="url3" column="url3"></result>
            <result property="url4" column="url4"></result>
            <result property="url5" column="url5"></result>
        </association>
        <collection property="list" ofType="menu3">
            <id column="id3" property="id3"></id>
            <result column="name3" property="name3"></result>
            <result column="school" property="school"></result>
            <result column="pageview" property="pageview"></result>
            <result column="pic" property="pic"></result>
            <result column="time" property="time"></result>
        </collection>
    </resultMap>
    <resultMap id="m2" type="menu2">
        <result column="name2" property="name2"></result>
        <association property="t" javaType="theme">
            <result property="url1" column="url1"></result>
            <result property="url2" column="url2"></result>
            <result property="url3" column="url3"></result>
            <result property="url4" column="url4"></result>
            <result property="url5" column="url5"></result>
        </association>
        <collection property="list" ofType="menu3">
            <id column="id3" property="id3"></id>
            <result column="name3" property="name3"></result>
            <result column="school" property="school"></result>
            <result column="pageview" property="pageview"></result>
            <result column="pic" property="pic"></result>
            <result column="time" property="time"></result>
        </collection>
    </resultMap>
    <select id="selectIndex" resultMap="m1">
        SELECT m1.*,m3.*,t.* FROM menu1 m1,menu2 m2,menu3 m3,theme t WHERE m2.m1_id=m1.id AND m3.m2_id=m2.id AND t.id=0 order by m3.pageview desc
    </select>
    <select id="selectM3ByTime" resultType="menu3">
        select * from menu3 order by time desc limit 0,6
    </select>
    <select id="selectC23ByC1" parameterType="int" resultMap="m2">
        select m2.name2,m3.* ,t.*from menu2 m2,menu3 m3,theme t where m2.id=m3.m2_id and t.id=m2.m1_id and m2.m1_id=#{id}
    </select>
    <select id="selectC4ByC3" parameterType="int" resultType="menu4">
        select * from menu4 where m3_id=#{id}
    </select>
    <select id="selectC3ById" parameterType="int" resultType="menu3">
        select * from menu3 where id3=#{id}
    </select>
    <update id="editpageview" parameterType="int">
        update menu3 set pageview=pageview+1 where id3=#{id}
    </update>
    <delete id="delMenu4" parameterType="int">
        DELETE FROM menu4 WHERE m3_id=#{id}
    </delete>
    <delete id="del" parameterType="int">
        delete from menu3 where id3=#{id}
    </delete>
    <insert id="addM3" parameterType="com.qf.pojo.M3m4">
        insert into menu3(name3,school,m2_id,pic,time) values (#{name3},#{school},18,#{pic},#{time})
    </insert>
    <insert id="addM4" parameterType="com.qf.pojo.M3m4">
        insert into menu4(prief,target,m3_id,url) values (#{prief},#{target},#{id3},#{url})
    </insert>
    <select id="select" parameterType="com.qf.pojo.M3m4" resultType="com.qf.pojo.M3m4">
        select * from menu3 where name3=#{name3} and school=#{school}
    </select>
</mapper>