<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
    <select id="findOne" parameterType="user" resultType="user">
        select * from user where name=#{name} and tel=#{tel} and email=#{email}
    </select>
    <insert id="add" parameterType="user">
        insert into user(name,pass,tel,email) values (#{name},#{pass},#{tel},#{email})
    </insert>
    <insert id="addRoler" parameterType="com.qf.pojo.UserRoler">
        insert into user_roler(uid,rid) values (#{uid},#{rid})
    </insert>
    <select id="selectById" parameterType="int" resultType="permission">
        SELECT r.roler FROM USER u,user_roler ur,roler r WHERE u.id=ur.uid AND ur.rid=r.rid AND uid=#{id}
    </select>
    <select id="selectByName" parameterType="String" resultType="user">
        select * from user where name=#{name}
    </select>
<!--    查询所有用户-->
    <select id="infAllUser" resultType="user">
        select * from user
    </select>
<!--    根据id查询用户-->
    <select id="selectUserById" resultType="user" parameterType="int">
        select * from user where id=#{id}
    </select>
<!--    根据id修改用户-->
    <update id="updateUserById" parameterType="user" >
        update user set id=#{id},name=#{name},pass=#{pass},tel=#{tel},email=#{email},pic=#{pic} where id=#{id}
    </update>
<!--    根据id删除用户-->
    <delete id="deleteById" parameterType="int">
        delete from user where id=#{id}
    </delete>
    <delete id="deletezjbById" parameterType="int">
        delete from user_roler where uid=#{id}
    </delete>
    <select id="selectRoler" resultType="com.qf.pojo.UserRoler" parameterType="int">
        select * from user_roler where uid=#{id}
    </select>
    <update id="updateUserRoler" parameterType="int">
        update user_roler set rid=2 where uid=#{uid}
    </update>
</mapper>